.title {
  display: flex;
  justify-content: flex-end;
}

.label {
  text-align: center;
  margin-bottom: 10px;
}

.slider-container {
  max-width: 1000px;
  height: 200px;
  background-color: rgba(196, 250, 208, 0.995);
  overflow: hidden;
  margin: auto;
  margin-bottom: 15px;
}

.slider-slide {
  position: relative;
  width: 100%;
  height: 150px;
  flex-shrink: 0;
  text-align: center;
  font-size: xx-large;
  line-height: 150px;
  color: whitesmoke;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.slider-wrapper {
  position: relative;
  display: flex;
  transition: all 1s ease 0s;
  right: 0;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.slider-btn {
  position: relative;
  margin-top: 5px;
  background-color: rgb(19, 50, 134);
  color: whitesmoke;
  font-size: large;
  width: 110px;
  height: 40px;
}

.slider-btn-prev {
  left: 5vh;
}
.slider-btn-next {
  right: 5vh;
}

.two-pic {
  width: 50%;
}
